kivy  # pip3 install kivy
bitcoinlib      # needed - bitcoin management
requests        # needed for Node-calls
python-dotenv  # pip3 install python-dotenv
pyzbar  # pip3 install pyzbar
opencv-python  # pip3 install opencv-python   - cv2 is part of it
pyaml  # pip3 install pyaml
